/**
*
* Module: SmartFAQ
* Author: The SmartFactory <www.smartfactory.ca>
* Licence: GNU
*/

.sf_headertable {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid;
}

.sf_modulename {
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    padding-right: 0.3em;
    line-height: 18px;
}

.sf_breadcrumb {
    font-size: 10px;
    line-height: 18px;
}

.sf_infotitle {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    display: block;
}

.sf_infotext {
    line-height: 130%;
    display: block;
}

.sf_faq_head_cat {
    padding-top: 0;
    text-align: right;
    font-style: normal;
    vertical-align: middle;
    display: block;
}

.sf_faq_head_who {
    padding-top: 5px;
    text-align: right;
    font-style: normal;
    vertical-align: middle;
    display: block;
}

.sf_collaps_title {
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    display: block;
}

.sf_collaps_info {
    margin: 3px 0 12px 0;
    font-size: small;
    display: block;
}

.sf_category_dsc {
    margin: 3px 0 10px 0;
    font-size: small;
    display: block;
}

.sf_adminlinks {
    font-size: 10px;
    text-align: center;
    line-height: 18px;
}

.itemFoot {
    text-align: right;
    padding: 3px;
    border: 1px solid #808080;
}

.itemFoot {
    text-align: right;
    padding: 3px;
    border: 1px solid #808080;
}

.modfooter {
    text-align: center;
    padding-top: 6px;
    font-size: 9px;
    border-top: 0 solid #ccc;
}

